<% include partials/header %>

<main class="main-content">
    <section class="section">
        <div class="container">
            <a href="/campgrounds/">See all Campgrounds</a>
            <div class="row gap-y">
            
                    <div class="col-12 col-lg-4">
                        <div class="card">
                            <img class="card-img-top" src="<%= campground.image %>" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title"><%= campground.name %></h5>
                              <p><%= campground.description %></p>
                            </div>
                        </div>
                    </div>
               
        </div>
            
        </div>
    </section>
</main>
<% include partials/footer %>