<% include partials/header %>

<header class="header text-white pt-12 pb-10" style="background-image: linear-gradient(-45deg, #667eea 0%, #764ba2 100%);">
    <div class="container">
      <h1 class="display-4">Welcome to Yelp Camp</h1>
      <p class="lead-2 mt-6">This is a starting point for your next awesome project. The skeleton is ready, just populate it.</p>
    </div>
</header>

<main class="main-content">
    <section class="section">
        <div class="container">
            <a href="/campgrounds">View All</a>
        </div>
    </section>
</main>


<% include partials/footer %>