<% include partials/header %>

    <!-- Header -->
    <header class="header h-fullscreen">
        <div class="container">
          <div class="row align-items-center h-100">
  
            <div class="col-md-5 mr-auto">
              <h1 class="fw-600">Welcome to Yelp Camp</h1>
              <br>
              <p class="lead-2">All things Camping - Get Involved</p>
              <br>
              <a class="btn btn-xl btn-round btn-info" href="/campgrounds">View All</a>
            </div>
  
  
            <div class="col-md-6">
              <img src="/img/camp-image.png" alt="Camping">
            </div>
  
          </div>
        </div>
      </header><!-- /.header -->


<% include partials/footer %>